meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Toma de muestras con fines forenses
meta(meta name="description" content="La recopilación del elemento material probatorio (EMP) y evidencia física (EF) es necesaria desde el primer contacto con las víctimas, teniendo en cuenta que su análisis proporciona las bases científicas o técnicas para encaminar la investigación penal.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")