h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Realizar toma de muestras con fines forenses de la víctima de ataques con agentes químicos teniendo en cuenta protocolos existentes.