.container
    .header-ecored
        h1 1. Elemento material probatorio y evidencia física
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-6
                p De manera general se entiende por elemento material probatorio (EMP) y evidencia física (EF) cualquier objeto, instrumento o medio de conocimiento conducente al descubrimiento de la verdad, como son huellas, marcas o rastros de origen físico, químico, biológico o electrónico, perceptible a través de los sentidos o mediante la utilización de tecnología forense, cuyo análisis proporciona las bases científicas o técnicas para encaminar la investigación penal, lograr la identificación del autor o autores, y así confirmar o descartar la comisión de una conducta punible y la reconstrucción de los hechos. 
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid    
        .row.justify-content-center.align-items-stretch
            .col-12.col-md-6
                p La Ley 906 de 2004, Código de Procedimiento Penal, establece en el artículo 275, cuáles son los objetos que se entienden por elementos materiales probatorios y evidencia física, entre ellos se encuentran: huellas, rastros, manchas, residuos vestigios y similares dejados por la ejecución de la actividad delictiva. (Manual del sistema de cadena de custodia, Fiscalía General de la Nación, 2018, página 10)

            .col-12.col-md-6
                p Con relación a los términos elemento material probatorio y evidencia física es pertinente destacar que el Manual del Sistema de Custodia de la Fiscalía General de la Nación del año 2018 establece que los dos términos se entenderán como sinónimos para los efectos de este manual. 

        .row.z-sup.mt-6
            .col-auto
                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-4.text-white De acuerdo con el Manual del Sistema de Custodia de la Fiscalía General de la Nación del año 2018, elemento material probatorio (EMP) y evidencia física (EF) se entenderán como sinónimos.                  