.container
    .header-ecored
        h1 3. Recolección, embalaje y rotulado de los EMP Y EF
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-8 
                .sub-ecored#31    
                    h2 3.1 Generalidades
                .list.mt-5
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top La policía judicial o quien haga sus veces debe dar inicio al procedimiento de recolección, embalaje y rotulado de los EMP Y EF que se hayan encontrado o recibido, previa observación, análisis, valoración, documentación y fijación del lugar de los hechos. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Quién recolecta, embale y rotule los EMP Y EF, debe observar las condiciones de bioseguridad y protección. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Previo a la recolección, embalaje y rotulado de los EMP Y EF se debe realizar el alistamiento de los recursos necesarios y adecuados para tal fin.  
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid    
        
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid          
            .col-12.col-md-8  
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Diligenciar por separado el rótulo (nunca se hace sobre los EMP y EF) y proceder a adherirse al embalaje.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Nunca utilizar papel preimpreso para embalar (revistas, periódicos, entre otros).

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Las prendas húmedas o fragmentos de tela que contengan manchas húmedas antes de embalarlas se deben secar a temperatura ambiente, protegiéndolas del sol y el agua. Posteriormente, deben envolverse en papel y luego en una bolsa plástica. Esta última para el caso de no requerir análisis biológicos o genéticos, de ser así embalar siempre en papel.                   

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8  
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Al recolectar un EMP y EF, tener presente que este puede contener huellas latentes y residuos de evidencia traza. Por lo tanto, se debe evitar cualquier contacto que pueda generar la destrucción o alteración de estas. El uso de guantes (preferiblemente de nitrilo) previene la producción de nuevas huellas latentes, reduciendo el riesgo de alterar o destruirlas, por lo cual, la manipulación debe ser mínima.            
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img14.png").img-fluid          

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img15.png").img-fluid          
            .col-12.col-md-8                                      
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Se debe evitar contaminarlas con soluciones propias de los procedimientos de atención a heridos.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top De encontrarse húmeda, se debe dejar secar a temperatura ambiente protegiéndola del sol y el agua. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Las prendas de vestir recolectadas como EMP y EF de la víctima y el sospechoso, nunca deben entrar en contacto entre sí. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top En lo posible, recoger muestras patrón o de referencia con cada uno de los EMP Y EF encontrados. 

        .row.z-sup.mt-6
            .col-auto
                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-4.text-white Cuando la prenda se encuentre húmeda se debe dejar secar a temperatura ambiente protegiéndola del sol y el agua antes de embalarse. 

        .sub-ecored.mt-5#32
            h2 3.2 Manejo de los EMP Y EF provenientes de entidades prestadoras de servicios de salud públicas o privadas    

        .row.justify-content-center.align-items-center
            .col-auto.text-center
                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal')
                    img.img-a(src="assets/images/pages/ilustraciones/1.png").img-fluid        

                #basicExampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                img(src="assets/images/pages/ilustraciones/1_1.png").img-fluid 
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                p.t-left Quien, en un hospital, puesto de salud, clínica, consultorio médico u otro establecimiento similar de servicio público o particular, reciba o diligencie documentos de ingreso de una persona a la cual se le hubiese ocasionado daño en el cuerpo o en la salud con ocasión de un posible delito, debe dar aviso inmediatamente a la Policía Nacional, Policía Judicial o en su defecto a la primera autoridad del lugar.

                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal2')
                    img.img-a(src="assets/images/pages/ilustraciones/2.png").img-fluid        

                #basicExampleModal2.modal.fade(tabindex='-2' role='dialog' aria-labelledby='exampleModalLabel2' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                img(src="assets/images/pages/ilustraciones/1_2.png").img-fluid 

                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body

                                p.t-left Cuando los EMP y EF son recuperados como parte de la atención en salud, los mismos deben ser entregados a los funcionarios de Policía Judicial o a la primera autoridad del lugar; dichos funcionarios se encargarán de hacer llegar estos EMP a los laboratorios del Instituto Nacional de Medicina Legal y Ciencias Forenses.
                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal3')
                    img.img-a(src="assets/images/pages/ilustraciones/3.png").img-fluid        

                #basicExampleModal3.modal.fade(tabindex='-3' role='dialog' aria-labelledby='exampleModalLabel3' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                img(src="assets/images/pages/ilustraciones/1_3.png").img-fluid 

                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                p.t-left Cuando los EMP y EF son recuperados como parte de una actuación forense y requieran análisis por parte de los laboratorios, deben ser entregados directamente por el servicio de salud al o los laboratorios; entre ellos los laboratorios del Instituto Nacional de Medicina Legal, y de las entidades que cumplen funciones de policía judicial (CTI, Policía Nacional).

                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal4')
                    img.img-a(src="assets/images/pages/ilustraciones/4.png").img-fluid        

                #basicExampleModal4.modal.fade(tabindex='-4' role='dialog' aria-labelledby='exampleModalLabel4' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                img(src="assets/images/pages/ilustraciones/1_4.png").img-fluid 

                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                p.t-left En todos los casos se debe registrar la recuperación de dichos EMP y EF en la historia clínica y epicrisis.


                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal5')
                    img.img-a(src="assets/images/pages/ilustraciones/5.png").img-fluid        

                #basicExampleModal5.modal.fade(tabindex='-5' role='dialog' aria-labelledby='exampleModalLabel5' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                img(src="assets/images/pages/ilustraciones/1_5.png").img-fluid 

                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                p.t-left Cada entidad prestadora de salud es responsable de capacitar, aplicar y suministrar el recurso humano y logístico para garantizar el desarrollo de la aplicación del Sistema de Cadena de Custodia.

                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal6')
                    img.img-a(src="assets/images/pages/ilustraciones/6.png").img-fluid        

                #basicExampleModal6.modal.fade(tabindex='-6' role='dialog' aria-labelledby='exampleModalLabel6' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                img(src="assets/images/pages/ilustraciones/1_6.png").img-fluid 

                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                p.t-left En caso de traslado del paciente a otra institución de salud, posterior a la recuperación de EMP y EF, se debe hacer entrega de estos a la policía judicial de no ser posible, se debe dar traslado de los EMP y EF a la entidad que reciba el paciente, dando continuidad al registro de cadena de custodia.


                button.btn.mo.bg-white.mt-5(type='button' data-toggle='modal' data-target='#basicExampleModal7')
                    img.img-a(src="assets/images/pages/ilustraciones/7.png").img-fluid        

                #basicExampleModal7.modal.fade(tabindex='-7' role='dialog' aria-labelledby='exampleModalLabel7' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                img(src="assets/images/pages/ilustraciones/1_7.png").img-fluid 

                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    img.img-a.mo-top(src="assets/images/pages/ilustraciones/close.png").img-fluid        

                            .modal-body
                                p.t-left En la manipulación de cualquier tipo de EMP y EF se deben observar siempre las medidas universales de bioseguridad. Por regla general no limpie los EMP y EF con NINGÚN tipo de sustancia ni elemento, toda vez que se pueden perder huellas u otro tipo de marca o rastro que pueda tener.
        
        .sub-ecored.mt-5#33
            h2 3.3 Forma de recolección, embalaje, rotulado, entrega a la autoridad competente y recomendaciones prácticas para el manejo de EMP Y EF de tipo prendas y evidencia traza. 



        #carouselExampleIndicators3.carousel.slide(data-interval='false')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators3', data-slide-to='0')
                li(data-target='#carouselExampleIndicators3', data-slide-to='1')
                li(data-target='#carouselExampleIndicators3', data-slide-to='2')
                li(data-target='#carouselExampleIndicators3', data-slide-to='3')
                      
            .carousel-inner
                .carousel-item.active
                    .jumbotron.bg-2.px-4                    
                        .row.justify-content-center.align-items-center
                            .col-10     
                                .row.justify-content-center.align-items-center
                                    .col-12.col-md-8 
                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Para el embalaje se debe usar bolsas de papel, aislando con papel limpio no impreso, las manchas o desgarros por las dos caras. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Se debe evitar contaminarlas con soluciones propias de los procedimientos de atención a heridos.

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top De encontrarse húmeda, se debe dejar secar a temperatura ambiente protegiéndola del sol y el agua. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Las prendas de vestir recolectadas como EMP y EF de la víctima y el sospechoso, nunca deben entrar en contacto entre sí. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top En lo posible, recoger muestras patrón o de referencia con cada uno de los EMP Y EF encontrados. 

                                    .col-12.col-md-4
                                        img.img-a.my-3(src="assets/images/pages/ilustraciones/img16.png").img-fluid  
                                        

                .carousel-item
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10 
                                h3 Obtenga un fragmento patrón:
                                .row.justify-content-center.align-items-center
                                    .col-12.col-md-8 
                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Ubique una porción de la prenda que no se encuentre impregnada con la sustancia utilizada en el evento y recorte un fragmento de 3 cm x 3 cm.

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Seque el fragmento en caso de que se encuentre húmedo. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Empaque el fragmento en papel tipo Kraft o similar. Nunca utilice papel que contenga impresiones. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Embalé el empaque en una bolsa plástica, preferiblemente transparente. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Selle la bolsa con cinta de seguridad u otro medio que brinde seguridad al embalaje y su contenido. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Rotule indicando claramente que se trata del “Fragmento control”.
 

                                    .col-12.col-md-4
                                        img.img-a.my-3(src="assets/images/pages/ilustraciones/img17.png").img-fluid  

                .carousel-item
                    .jumbotron.bg-2.px-4 
                        .row.justify-content-center.align-items-center
                            .col-10 
                                h3 Obtenga un fragmento patrón:
                                .row.justify-content-center.align-items-center
                                    .col-12.col-md-8 
                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Seque el resto de la prenda en caso de que se encuentre húmeda.

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Empaque el resto de la prenda en papel tipo Kraft o similar. Nunca utilice papel que contenga impresiones. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Embalé el empaque en una bolsa plástica, preferiblemente transparente. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Selle la bolsa con cinta de seguridad u otro medio que brinde seguridad al embalaje y su contenido. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Rotular el EMP (elemento material probatorio)

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Se recomienda utilizar el formato de rótulo elemento material de prueba o evidencia física de la Fiscalía General de la Nación. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Diligenciar el rótulo con marcador permanente, letra clara y legible y sin tachaduras anotando: el nombre de la víctima, el número de identificación, el número de la Historia Clínica, fecha, hora, nombre del médico o médica que embala y descripción de las prendas embaladas. 

                                    .col-12.col-md-4
                                        img.img-a.my-3(src="assets/images/pages/ilustraciones/img18.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-12.col-md-4
                                        img.img-a.my-3(src="assets/images/pages/ilustraciones/img19.png").img-fluid                                  
                                    .col-12.col-md-8 
                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Adherir el rótulo a la bolsa.

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Genere y diligencie el registro de cadena de custodia. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Entregue al funcionario de la Policía Judicial el EMP quien lo debe remitir de inmediato al Laboratorio de Evidencia Traza del Instituto Nacional de Medicina Legal y Ciencias Forenses de la ciudad de Bogotá, solicitando la identificación de la sustancia que se sospecha se utilizó para la agresión. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Es importante anotar en la historia clínica los elementos que fueron embalados y entregados a la Policía Judicial con fecha, hora, nombre e identificación del funcionario que recibe y de quien entrega. 

                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                            .list__txt    
                                                p.m-top Mientras se hace entrega a la Policía Judicial, la IPS es responsable de la cadena de custodia de estos EMP y EF, garantizando condiciones de seguridad y preservación necesarias, previamente embalados, rotulados y con el registro de cadena de custodia. 
 
                                .row.z-sup.mt-6
                                    .col-auto
                                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                                        
                                .row.text-sup-1 
                                    .col-12
                                        p.bg-4.text-white Se debe tomar siempre un fragmento patrón, el cual consiste en un fragmento de 3 x 3 centímetros de prenda no impregnada con la sustancia, el resto de la prenda se considera como elemento para análisis (EMP).  

                .carousel-item
                    .jumbotron.bg-2.px-4                        
                        .row.justify-content-center.align-items-center
                            .col-10
                                h3 Formatos de cadena de custodia y rótulo
                                .row.justify-content-center.align-items-stretch
                                    .col-12.col-md-8
                                        .row.justify-content-center.align-items-center.mt-5
                                            .col-auto
                                                a(href="media/documentos/ANEXO_MANUAL_DEL_SISTEMA_DE_CADENA_DE_CUSTODIA.pdf" target="_blank").media-link

                                                    img(src="assets/images/pages/ilustraciones/doc.png" alt="").media-link-icon

                                                    .media-link-title
                                                        p Formato de cadena de custodia
                                        h3.mt-5 Instrucciones para el diligenciamiento del rótulo EMP Y EF

                                        p #[strong Anverso]
 
                                        .list
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 1 
                                            .list__txt    
                                                p #[strong Número Único de Noticia Criminal]

                                                p Escriba el número asignado con el cual se identifica la investigación. Recuerde que dicho radicado consta de (21) dígitos conformados por los siguientes campos:

                                                p Departamento (DPTO): Código asignado por el DANE según el departamento donde se judicialice el hecho. Está compuesto por dos (2) dígitos.

                                                p Municipio: Código asignado por el DANE SEGÚN la cabecera municipal respectiva. Está compuesto por tres (3) dígitos.

                                                p Entidad: Número asignado al organismo de Policía Judicial que recibe el caso. Compuesto por dos (2) dígitos. Los códigos asignados son: (60) FGN-CTI, (61) POLICÍA NACIONAL, (63) INPEC.

                                                p Unidad: Es el código de la dependencia, unidad o centro de servicios judiciales que tiene conocimiento del hecho, y está compuesto por cinco (5) dígitos.

                                                p Año: Corresponde al año en que asigna el número Único de Noticia Criminal. Está compuesto por cuatro (4) dígitos.

                                                p Consecutivo: Corresponde al consecutivo anual que genera cada unidad receptora. Son los ÚLTIMOS cinco (5) dígitos que componen el radicado.



                                    .col-12.col-md-4
                                        .list
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 2
                                            .list__txt    
                                                p #[strong No. ID (ALMACÉN DE EVIDENCIAS)]

                                                p Registre el número de identificación del EMP y EF al momento de su ingreso al Almacén de Evidencias.

                                        .list
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 3
                                            .list__txt    
                                                p #[strong No. de historia clínica]

                                                p Registre el número de historia clínica en esta casilla, cuando el registro se inicie en una institución prestadora de servicios de salud o centro hospitalario.

                                        .list
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 4
                                            .list__txt    
                                                p #[strong Documentación de los EMP y EF]

                                                p Marque con una (X) la labor que el funcionario o particular adelante respecto de los EMP y EF, hallazgo (H), recolección (R) y embalaje (E).
 
                                                p En las columnas cuarta y quinta registre los datos del funcionario o particular que desarrolla la actividad (nombres y apellidos, número de cédula de ciudadanía).

                                                p Para la sexta columna (entidad) escriba la entidad para la cual labora, en caso contrario coloque las siglas N.A. (no aplica).

                                                p En la ÚLTIMA columna, firme y registre en la parte inferior la fecha de su actuación siguiendo el formato año-mes-día.

                                                p Descripción del embalaje y de Elementos Materiales Probatorios y Evidencia Física

                                                p Describa de manera clara y concreta el embalaje empleado para la protección del EMP y EF, así como las características y condiciones físicas del elemento recolectado. La descripción debe ser igual a la diligenciada en el rótulo.
 

                .carousel-item
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10
                                h3 Instrucciones para el diligenciamiento del rótulo EMP Y EF

                                p #[strong Reverso]

                                p.mt-5 Registro de continuidad de los Elementos Materiales Probatorios y Evidencia Física: 

                                p Presenta varios campos
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Fecha: diligencie en formato (año/mes/día), año cuatro  (4) dígitos, mes y día dos (2) dígitos.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Hora: Registre la hora formato de (24h.) en la que se realiza el traspaso del EMP y EF.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Nombres y apellidos de quien recibe el EMP y EF, cédula de ciudadanía y entidad: Registre los datos del funcionario o particular que desarrolla esta actividad.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Calidad en la que ACTÚA: Marque con una (X) el rol que desempeña (Custodio o Perito).

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Propósito del traspaso (almacenamiento, análisis, presentación en audiencia, consulta o disposición final): Escriba una de las cinco opciones citadas. No olvide que cada una de ellas incluye otras actividades como transporte y trámites administrativos de los EMP y EF.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Estado en el que se recibe el embalaje o contenedor del EMP y EF: Escriba el estado del embalaje, sin novedad (S/N) o deteriorado. En caso de encontrar alguna anomalía documéntese y descríbala en la casilla de observaciones.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Firma: Realice en presencia de quien le entrega el o los EMP y EF.


                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Para ser diligenciado por el técnico en prueba de identificación preliminar homologada “PIPH”

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top ¿Practicó PIPH?: Marque con una (X) una de las dos opciones.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Cantidad de muestras tomadas:  Escriba el número de muestras tomadas en letras y números.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top NÚMERO del Rótulo(s): Registre el o los números de los rótulos empleados para el embalaje de este tipo de EMP y EF.
                        
                                .row.z-sup.mt-6
                                    .col-auto
                                        img.i-left-1(src="assets/images/pages/ilustraciones/nota.png").img-fluid
                                        
                                .row.text-sup-1 
                                    .col-12
                                        p.bg-4.text-white NOTA: Si la totalidad de la incautación se envía al laboratorio, diligencie este numeral y CONTINÚE con el registro inicial. Si después de tomar las muestras queda remanente para destrucción, el registro inicial queda con el remanente y se genera un nuevo registro para las muestras enviadas al laboratorio. No olvide referenciar en el registro inicial los números de rótulos empleados.

                                        h3.mt-5 Observaciones
                                        p En este campo registre las observaciones según sea el caso. Es importante dejar constancia de la fecha y nombre de quien realice la observación y ser concreto en la redacción.  

                .carousel-item
                    .jumbotron.bg-2.px-4 
                        .row.justify-content-center.align-items-center
                            .col-10 
                                h3 Instrucciones para el diligenciamiento del rótulo EMP Y EF

                                .list.mt-5
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top NÚMERO Único de Noticia Criminal

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Escriba el número asignado con el cual se identifica la investigación. Recuerde que dicho radicado consta de (21) dígitos conformados por los siguientes campos:

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Departamento (DPTO): código asignado por el DANE según el departamento donde se judicialice el hecho. Está compuesto por dos (2) dígitos.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Municipio: código asignado por el DANE según la cabecera municipal respectiva. Está compuesto por tres (3) dígitos.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Entidad: Número asignado al organismo de Policía Judicial que recibe el caso. Compuesto por dos (2) dígitos. Los códigos asignados son: (60) FGN-CTI, (61) POLICÍA NACIONAL, (63) INPEC.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Unidad: es el código de la dependencia, unidad o centro de servicios judiciales que tiene conocimiento del hecho, y está compuesto por cinco (5) dígitos.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Año: corresponde al año en que asigna el número Único de Noticia Criminal. Está compuesto por cuatro (4) dígitos.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Consecutivo: corresponde al consecutivo anual que genera cada unidad receptora. Son los últimos cinco (5) dígitos que componen el radicado.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top No. ID (Almacén de evidencias)

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Registre el número de identificación del EMP y EF al momento de su ingreso al almacén de evidencias.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Fecha y hora de recolección
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Fecha: diligencie en formato (año/mes/día), año cuatro
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top (4) dígitos, mes y día dos (2) dígitos.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Hora: registre la hora formato de (24h.) en la que se realiza el traspaso del EMP y EF.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Hallazgo

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Número del EMP y EF: escriba el número asignado al o los EMP y EF dentro de la documentación del lugar de los hechos

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Cantidad: registre el total de EMP y EF incluidos en el contenedor.


                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Sitio o lugar de hallazgo de los Elementos Materiales Probatorios y Evidencia Física

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Dirección: registre la nomenclatura del lugar donde se halló el o los EMP y EF, o indique las coordenadas de localización.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Ubicación: registre la información respecto a la localización del EMP y EF en el lugar.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Nombres y apellidos de la persona a quien se le encontró el EMP y EF: registre la información correspondiente de la persona a la que se le encontraron los EMP y EF.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Descripción del embalaje y de los Elementos Materiales Probatorios y Evidencia Física

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Describa de manera clara y concreta el embalaje empleado para la protección del EMP y EF, así como las características y condiciones físicas del elemento recolectado. La descripción debe ser igual a la diligenciada en el registro de cadena de custodia.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Datos de identificación de quien haya diligenciado el rótulo

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Nombres y apellidos, cédula de ciudadanía, identidad y firma: registre los datos de la persona que desarrolla esta actividad.

                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                    .list__txt    
                                        p.m-top La persona que diligencie el rótulo debe ser alguno de los que figure en el registro de cadena de custodia como que halló, recolectó o embaló (H/R/E) el o los EMP y EF

            a.carousel-control-prev(href='#carouselExampleIndicators3', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators3', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next       