.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Contenedor primario:
            | recipiente inicial en el cual se introduce el EMP y EF para su embalaje.
        
        p
            strong.mr-2 Contenedor secundario:
            | recipiente que se utiliza para el envío de varios contenedores primarios.
        p 
            strong.mr-2  Custodio:
            | persona que vigila y guarda con cuidado y responsabilidad un EMP y EF o un lugar de los hechos.
        p
            strong.mr-2 Embalar:
            | es el procedimiento técnico utilizado para empacar, preservar y proteger los EMP y EF en el contenedor adecuado con el fin de enviarse para análisis o almacenamiento.

        p
            strong.mr-2 Evidencia Traza:
            | es toda aquella evidencia que no es perceptible por los órganos de los sentidos.

        p
            strong.mr-2 Muestra:
            | es definida como la fracción de un material sobre la que se estudian ciertas características que posteriormente se generalizan a todo el conjunto.


        p
            strong.mr-2 Rótulo:
            | formato diligenciado que se adhiere al contenedor con fines de identificación del EMP y EF.

        p
            strong.mr-2 Trasladar:
            | es el movimiento que se hace de los Elementos Materiales Probatorios y Evidencia Física, de un sitio a otro.

        p
            strong.mr-2 Traspasar:
            | es el acto por el cual un custodio entrega la guarda y responsabilidad del lugar de los hechos y los Elementos Materiales Probatorios y Evidencia Física a otro custodio.