.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/KNMQ7DR7tzU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  
                
        p.mt-5 La recopilación del elemento material probatorio, en adelante (EMP) y evidencia física (EF), es necesaria desde el primer contacto con las víctimas y siempre que las condiciones de la atención lo permitan, por lo tanto, la recolección de las muestras puede realizarse de manera prehospitalaria o en el servicio de urgencias.

        p El personal de los servicios de salud es responsable de la recolección, preservación y entrega a la autoridad competente de los EMP Y EF de la que tenga conocimiento debido a la atención brindada a las víctimas, así como de iniciar la cadena de custodia. (Artículo 255 del Código de Procedimiento Penal ley 906 de 2004).

        .row.z-sup.mt-6
            .col-auto
                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-4.text-white De acuerdo con el artículo 255 del código de procedimiento penal (Ley 906 de 2004), el personal de los servicios de salud es responsable de la recolección, preservación y entrega a la autoridad competente de los EMP (elementos material probatorio) y EF (evidencia física).  