.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Medicina Legal. (2017). Medicina legal y los ataques con sustancias químicas. 
                    
                    td Artículo de investigación
                    td 
                        a(href="https://www.medicinalegal.gov.co/blog/-/blogs/medicina-legal-y-los-ataques-con-sustancias-quimicas", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver
                tr
                    td Fiscalía General de la Nación. (2018). 
                    
                    td Manual del sistema de cadena de custodia 
                    td 
                        a(href="https://www.fiscalia.gov.co/colombia/wp-content/uploads/MANUAL-DEL-SISTEMA-DE-CADENA-DE-CUSTODIA.pdf", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver